.chatbot-widget {
  --chatbot-width: 950px;
  --chatbot-height: 500px;
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 1000;
}

.chatbot-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0d245e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.chatbot-icon {
  font-size: 24px;
}

.chatbot-container {
  position: absolute;
  bottom: 80px;
  right: 0;
  width: var(--chatbot-width);
  height: var(--chatbot-height);
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.chatbot-header {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-header h3 {
  margin: 0;
}

.close-chat {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chatbot-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chatbot-input {
  display: flex;
  padding: 10px;
}

#chatbot-input-field {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  color: black;
}

#chatbot-send-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.user-message {
  align-items: flex-end;
}

.bot-message {
  align-items: flex-start;
}

.message-content {
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 80%;
}

.user-message .message-content {
  background-color: #007bff;
  color: white;
}

.bot-message .message-content {
  background-color: #f1f1f1;
  color: black;
  padding: 10px 15px;
}

.message-timestamp {
  margin-top: 2px;
  margin-right: 10px;
  font-size: 0.8em;
  color: #888;
}

.message-content ul {
  margin: 0;
  padding-left: 20px;
}

.message-content li {
  margin-bottom: 5px;
}

.message-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 0.8em;
  color: #888;
}

.feedback-container {
  display: flex;
  align-items: center;
}

.feedback-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  opacity: 0.5;
  transition: opacity 0.2s ease, filter 0.2s ease;
  filter: grayscale(100%);
}

.feedback-icon:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.thumbs-up:hover {
  color: #4CAF50;
}

.thumbs-down:hover {
  color: #F44336;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}